<table class="table">
<thead>
<tr>
<th>
Benedict Cumberbatch
</th>
<th>
X-Men
</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= "$#{@averages.fetch("Benedict Cumberbatch").to_s.reverse.chars.each_slice(3).map(&:join).join(',').reverse}" %></td>
<td><%= "$#{@averages.fetch("X-Men").to_s.reverse.chars.each_slice(3).map(&:join).join(',').reverse}" %></td>
</tr>
</tbody>
</table>