<table class="table">
<thead>
<tr>
<th>
Benedict Cumberbatch
</th>
<th>
X-Men
</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= money(@medians.fetch("Benedict Cumberbatch")) %></td>
<td><%= money(@medians.fetch("X-Men")) %></td>
</tr>
</tbody>
</table>