<div class="text-box">
<h1>
    Which has the higher median box office?
</h1>
</div>

<% if @reveal %>
<div class="text-box reveal-box">
<table class="table">
<thead>
<tr>
<th>
Benedict Cumberbatch
</th>
<th>
X-Men
</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= money(@medians.fetch("Benedict Cumberbatch")) %></td>
<td><%= money(@medians.fetch("X-Men")) %></td>
</tr>
</tbody>
</table>
</div>
<% else %>
<div class="text-box reveal-box">
    <a href="/3/reveal">Reveal</a>
    </div>
<% end %>

<% if @reveal %>
<div class="next-box text-box">
    <a href="/4">Next</a>
    </div>
<% end %>