<div class="text-box">
<h1>
    Welcome to Benedict Vs. X-Men!!
</h1>
<h2>
    Can one very (very) (like, extremely) handsome man defeat an entire cadre of mutants and their powers?
</h2>
</div>

<div class="next-box text-box">
    <a href="/1">Next</a>
    </div>
    