<div class="text-box">
<h1>
    All Data
</h1>
</div>

<div class="text-box reveal-box" style="max-height: 50%; overflow-y: scroll;">
<table class="table smaller-text" >
<thead>
<tr>
<th colspan=2>
Benedict Cumberbatch
</th>
<th colspan=2>
X-Men
</th>
</tr>
</thead>
<tbody>
<% 14.times do |i| %>
<tr>
<td><%= data.fetch("Benedict Cumberbatch").to_a[i][0] %></td>
<td><%= money(data.fetch("Benedict Cumberbatch").to_a[i][1]) %></td>
<td><%= data.fetch("X-Men").to_a[i][0] %></td>
<td><%= money(data.fetch("X-Men").to_a[i][1]) %></td>
</tr>
<% end %>
</tbody>
</table>
</div>

<div class="next-box text-box">
    <a href="/5">Next</a>
    </div>